@charset "utf-8";

/* common */

body {
  background: #f5ead6;
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 16px;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

.btn {
  color: white;
  background-color: #8a4238;
  font-size: 32px;
  text-align: center;
  width: 120px;
  margin-top: 32px;
  padding :8px 32px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;

}

.btn:hover {
  opacity: 0.9;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
}

h2 {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
}

h3 {
  margin: 0;
  font-weight: bold;
  font-size: 24px;

}

p {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: calc(100% - 48px);
  box-sizing: border-box;
}

/* load */


/* header */

header {
  background-color: #7e5a44;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 32px;
  position: fixed;
  top: 0;
  left:0;
  right: 0;
}

header h1 {
  color: white;
  line-height: 64px;
}

.pc-menu {
  display: none;
}

.sp-menu #open {
  color: white;
  font-size: 48px;
  line-height: 64px;
  cursor: pointer;
  /* margin: 0;
  padding: 0; */
}

.sp-menu #open:hover {
  opacity: 0.5;
  transition: .3s;
}

.sp-menu #open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: calc(100% - 300px);
  right: 0;
  background: #f5ead6;
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}

.overlay.show {
  opacity: 0.9;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 48px;
  cursor: pointer;
}

.overlay #close:hover {
  opacity: 0.5;
  transition: .3s
}

.overlay ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay ul li {
  text-align: center;
  margin-top: 16px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay a {
  color: black;
  display: block;
  font-size: 32px;
  line-height: 64px;
  text-align:center; 
  width: 160px;
  text-decoration: none;
  display: inline-block;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

/* mainslide */

#mainslide{
  width: 100%;
  height: 400px;
  object-fit: cover;
  max-width: 1264px;
  display: block;
  margin: 96px auto 0;
}

/* hero */

.hero {
  background-color: #f3d9a5;
  text-align: center;
  margin-top: 32px;
  padding: 32px 0;
}

.hero img {
  object-fit: cover;
}

.hero-info {
  width: 400px;
  display: block;
  text-align: left;
  margin: 0 auto;
}

.hero .btn {
  text-align: center;
  margin-top: 32px;

}

.hero h2 {
  margin-top: 24px;

}

.hero p {
  margin-top: 24px;
}

/* features */

.features {
  margin: 32px 0;
  padding: 16px;
  text-align: center;
}

.features h2 {
  font-size: 48px;
  padding: 32px;
}

.features ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: left;
}

.features li {
  margin-top: 48px;
  flex-grow: 1;
}

.feature {
  margin-top: 32px;
}

.feature a {
  width: 180px;
  display: block;
  margin: 0 auto;

}

.feature img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.feature h3 {
  width: 100%;
  margin-top: 16px;
  font-weight: bold;
  text-align: left;
}

.feature p {
  width: 100%;
  text-align: left;
  margin-top: 16px;
}

/*  */

.product {
  margin-top: 96px;
  padding:32px;
  display: flex;
  gap: 32px;
}

.product div {
  flex: 1;
}

.product img {
  width: 300px;
  height: 300px;
}

.product h2 {
  margin-top: 16px;
}

.product p {
  margin-top: 16px;
}

/* footer */

footer {
  background: #7e5a44;
  color: white;
  padding: 32px 0;
  text-align: center;
}

small {
  font-size: 14px;
}



/* large screen */

@media (min-width: 600px) {

  /* header */

  .pc-menu {
    display: block;
  }

  .pc-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .pc-menu a {
    display: block;
    width: 80px;
    font-size: 16px;
    font-weight: bold;
    line-height: 64px;
    text-align:center; 
    text-decoration: none;
    color: white;
  }

  .pc-menu a:hover {
    background: #f2f2f2;
  }

  .sp-menu {
    display: none;
  }

  /* hero */

  .hero {
    display: flex;
    align-items: center;
    padding: 32px;
    gap :32px;
  }

  .hero img {
    flex: 1;
    margin-top: 0;
    width: 240px;
    height: 240px;
  }

  .hero-info {
    flex: 1;
    padding-left: 24px;
  }

  .hero-info h2 {
    text-align: left;
  }

  .hero-info p {
    text-align: left;
  }

  .hero-info a {
    display: block;
  }

  
  .pic {
    width: 300px;
    flex: 1;
    text-align: center;
  }
  
  .desk {
    flex: 1;
  }
  
  .reversed {
    flex-direction: row-reverse;
  }
  
}

@media (min-width: 800px) {

  .hero {
    padding: 64px;
    gap :64px;
  }

  .hero img {
    width: 300px;
    height: 300px;
  }
  
  /* features */
  
  .features ul {
    gap: 64px;
  }
}


@media (min-width: 1000px) {

  /* features */
  
  .feature li {
    width: 250px;
  }
  .feature img {
    width: 250px;
    height: 250px;
  }

}